.git
.dart_tool
**/.dart_tool
.idea
**/bin
**/obj
**/build
**/.flutter-plugins-dependencies
**/local.properties
**/.gradle
**/.venv
**/__pycache__
**/*.pyc
infra/compose/.env
artifacts
**/node_modules
**/.env
**/.env.production
**/auth.json
**/*service-account*.json

.jarvis/

.venv-ci/
